body {
  color: #fff;
  --twitter-color: #50b7f5;
  --twitter-background: rgb(22, 32, 44);
  --twitter-secondary-background: rgb(37, 51, 65);

  background-color: rgb(22, 32, 44);
}

.app {
  display: flex;
  max-width: 1300px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

@media screen and (max-width: 420px) {
  .sidebar,
  .widgets {
    display: none;
  }
}
